<img id="bannerImage" src="assets/images/banner.jpeg" alt="Banner" />
<div class="container-fluid">
  <div class="row">
    <div
      class="col-xs-12 col-sm-6 col-md-4"
      *ngFor="let item of cardArrDetails"
    >
      <div class="card">
        <img
          class="card-img-top"
          src="assets/images/{{ item.imageSrc }}.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
        </div>
        <ul class="card-footer">
          <li>
            <a href="#"><i class="fa fa-heart"></i>57</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-comment"></i>6</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-eye"></i>138</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="card">
        <div class="card-body bigger-card-body">
          <img
            class="card-img-top img-only-card"
            src="assets/images/4.jpeg"
            alt="Card image cap"
          />
          <div class="text-only-card">
            <h5 class="card-title">Health</h5>
            <p class="card-text" style="font-weight: bold">
              How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
              Concepts in Physics?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae temporibus magnam, animi corporis modi, culpa non hic
              sint quo nihil similique at praesentium ut porro exercitationem
              libero veritatis. Illo, voluptas!
            </p>
            <h6>Lora Palmer</h6>
            <p>on Sep 29, 2017 at 9:48am</p>
            <ul class="card-footer">
              <li>
                <a href="#"><i class="fa fa-heart"></i>57</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-comment"></i>6</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-eye"></i>138</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/images/2.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">
            How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
            Concepts in Physics?
          </h5>
        </div>
        <ul class="card-footer">
          <li>
            <a href="#"><i class="fa fa-heart"></i>57</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-comment"></i>6</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-eye"></i>138</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
