<img id="bannerImage" src="assets/images/banner.jpeg" alt="Banner" />
<div class="container-fluid">
  <div class="row">
    <div
      [ngClass]="
        item.content == ''
          ? 'col-xs-12 col-sm-6 col-md-4'
          : 'col-xs-12 col-sm-12 col-md-8'
      "
      *ngFor="let item of cardArrDetails"
    >
      <div class="card" [ngStyle]="{ margin: item.content != '' ? '0' : '' }">
        <img
          class="card-img-top"
          src="{{ item?.imgSrc }}"
          alt="Tile image"
          *ngIf="item?.content == ''"
        />
        <div
          class="card-body"
          [ngClass]="{ 'bigger-card-body': item?.content != '' }"
        >
          <img
            class="card-img-top img-only-card"
            src="{{ item?.imgSrc }}"
            alt="Tile image"
            *ngIf="item?.content != ''"
          />
          <div [ngClass]="{ 'text-only-card': item?.content != '' }">
            <h5 class="card-title" *ngIf="item?.heading !== ''">
              {{ item.heading }}
            </h5>
            <h5 class="card-title">{{ item?.title }}</h5>
            <p *ngIf="item.content !== ''">{{ item?.content }}</p>
            <h6 *ngIf="item.author !== ''">{{ item?.author }}</h6>
            <p *ngIf="item.publishDate !== ''">{{ item?.publishDate }}</p>
            <ul class="card-footer">
              <li>
                <a href="#"><i class="fa fa-heart"></i>{{ item?.likes }}</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-comment"></i>{{ item?.comment }}</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-eye"></i>{{ item?.views }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
